/* ------------ site ------------ */
$site-main-color: #000;
$site-minor-color: #fff;
$site-footer-bg: #070707;
$site-header-bottom-bg: #030303;
$site-main-headline-bg: #030303;
/* ------------ /site ------------ */

/* ------------ copyright ------------ */
$copyright-color: #fff;
/* ------------ /copyright ------------ */

/*---------- popup ----------*/
$popup-back: rgba( 0, 0, 0, .5 );
$popup-close-back: rgba( 255, 255, 255, 1 );
/*---------- /popup ---------*/

/*---------- websters-select ----------*/
$websters-select-border: #000;
$websters-select-popup-back: #fff;
$websters-select-popup-item-active-color: #fff;
$websters-select-popup-item-active-back: #f00;
/*---------- /websters-select ---------*/

/*---------- nice-radio ----------*/
$nice-radio-after-color: #000;
$nice-radio-color: #000;
/*---------- /nice-radio ---------*/

/*---------- nice-checkbox ----------*/
$nice-checkbox-after-color: #000;
$nice-checkbox-color: #000;
/*---------- /nice-checkbox ---------*/

/*---------- btn ----------*/
$btn-back: #ff0;
$btn-back-hover: #ffa;
$btn-back-active: #000;
$btn-color: #000;
$btn-color-active: #ff0;

$btn-2-back: #f00;
$btn-2-back-hover: #f0a;
$btn-2-back-active: #000;
$btn-2-color-active: #f0a;
/*---------- /btn ---------*/

/* ------------ upcoming-match ------------ */
$upcoming-head-bg: #662d91;
$upcoming-main-bg: #000;
/* ------------ /upcoming-match ------------ */

/*---------- social-networks ---------*/
$social-networks-border-color: #fff;
/*---------- /social-networks ---------*/