@import url(https://fonts.googleapis.com/css?family=Lato:400,700,900);

@font-face {
  font-family: "OpenSansHebrew-Regular";
  src: url("../fonts/OpenSansHebrew-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}