/* ------------ footer-logo ------------ */
.footer-logo {

  display: block;
  margin: 0 auto 20px;
  width: 150px;
  height: 75px;

  img {
    display: block;
    width: 100%;
    height: 100%;
  }
}

@media (min-width: $tablet-portrait) {
  .footer-logo {}
}

/* ------------ /footer-logo ------------ */