.site {
  overflow: hidden;
  @include main-font1();

  .site__center {
    position: relative;
    max-width: 676px;
    margin: 0 auto;
    padding: 0 20px;
  }

  &:after {
    content: '';
    display: block;
    clear: both;
    width: 100%;
  }

  &:after,
  .site__footer-layout {
    height: 200px;
  }

  .site__header-bottom {
    background: $site-header-bottom-bg;
  }

  .site__header-top {
    height: 53px;
  }

  .site__footer {
    z-index: 2;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background: $site-footer-bg;
    text-align: center;
  }

  .site__footer-layout {
    position: relative;
    max-width: 930px;
    padding: 20px;
    margin: 0 auto;
  }

}
@media (min-width: $phone-landscape) {
  .site {

  }
}
@media (min-width: $tablet-portrait) {
  .site {

    .site__header-bottom {
      background: $site-header-bottom-bg;
    }

    .site__footer-layout {
      padding: 63px 20px 0 160px;
      text-align: right;
    }

    &:after,
    .site__footer-layout {
      height: 141px;
    }

  }
}
@media (min-width: $tablet-landscape) {
  .site {

  }
}
@media (min-width: $desktop) {
  .site {

  }
}

