.site {
  position: relative;
  overflow: hidden;
  @include main-font1();

  .site__center {
    position: relative;
    max-width: 676px;
    margin: 0 auto;
    padding: 0 20px;
  }

  &:after {
    content: '';
    display: block;
    clear: both;
    width: 100%;
  }

  &:after,
  .site__footer-layout {
    height: 200px;
  }

  .site__header-bottom {
    background: $site-header-bottom-bg;
  }

  .site__header-top {
    height: 53px;
  }

  .site__content {
    padding: 7px 0 0;
  }

  .site__footer {
    z-index: 2;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background: $site-footer-bg;
    text-align: center;
  }

  .site__footer-layout {
    position: relative;
    max-width: 930px;
    padding: 20px;
    margin: 0 auto;
  }

  .site__main-headline {
    position: relative;
    padding: 16px 0 15px;
    margin: 0 0 14px;
    background: $site-main-headline-bg;

    >.site__center {
      padding-top: 41px;
    }
  }

  .site__main-title {
    padding: 13px 0;
    color: #fff;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    //font-family: $font;
    font-weight: 400;
    font-size: 36px;
    line-height: 39px;
    text-align: center;
  }

}
@media (min-width: $phone-landscape) {
  .site {

  }
}
@media (min-width: $tablet-portrait) {
  .site {

    .site__header-bottom {
      background: $site-header-bottom-bg;
    }

    .site__footer-layout {
      padding: 63px 20px 0 160px;
      text-align: right;
    }

    &:after,
    .site__footer-layout {
      height: 141px;
    }

  }
}
@media (min-width: $tablet-landscape) {
  .site {

  }
}
@media (min-width: $desktop) {
  .site {

  }
}

